input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container-for-map {
  width: 55vw;
  height: 55vh;
  border: 3px solid lightgray;
}
@media (max-width: 1200px) {
  .control-panel{
    display: none;
  }
}
.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 10px 15px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.wfm-active {
    color: coral!important;
}